@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Jockey One', sans-serif;

  &::-webkit-scrollbar {
    @apply h-2 w-2;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-transparent;
    transition: all ease 0.5s;
  }
  &:hover::-webkit-scrollbar-thumb {
    @apply bg-primary-600/50;
  }
  &.no-scrollbar::-webkit-scrollbar {
    @apply !h-0 !w-0;
  }
  &.small-scrollbar::-webkit-scrollbar {
    @apply !h-1 !w-1;
  }
}
