.panelcontainer {
  width: 30%;
  height: 100vh;
  position: absolute;
  right: 0;
  background: #caf0ee;
}

.panelname {
  margin: 2%;
  padding: 2% 0% 2% 4%;
  width: 96%;
  height: 4vh;
  background: #e9fdfc;
  color: #5fb1ad;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.setting {
  margin: 2%;
  padding: 2% 0% 2% 4%;
  width: 96%;
  height: 10vh;
  background: #e9fdfc;
  color: #5fb1ad;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  width: 211px;
  height: 31px;
  background: #caf0ee;
  border: none;
  font-size: 16px;
  font-style: normal;
}

.alinecenter {
  margin: 4px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.model {
  position: relative;
  margin: 2%;
  padding: 2% 0% 2% 4%;
  width: 96%;
  height: 11vh;
  background: #e9fdfc;
  color: #5fb1ad;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
