.dropdown-select {
  @apply relative inline-block border-b border-primary-500 pb-1;
}

.dropdown-select__selected {
  @apply w-full cursor-pointer bg-primary-100 py-1 pl-2;
}

.dropdown-select__options {
  @apply px-1 text-xs;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-select__option {
  @apply relative my-1 cursor-pointer rounded-sm p-2;
  &::after {
    content: '';
    position: absolute;
    bottom: -2.5px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eee;
  }
  &:hover {
    background-color: #f0f0f0;
  }
  /* &.selected {
    @apply bg-primary-400/30;
  } */
}
