/* basic */
.button {
  @apply border-none transition-all cursor-pointer;
  box-shadow: 0px 2px 2px 0px #3b2826;
  &:hover {
    box-shadow: 0px 2px 6px 0px #3b2826;
  }
  &:active {
    box-shadow: 0px 2px 8px 0px #3b2826;
  }
}

/* size */
.button.button-size--sm {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.button.button-size--lg {
  @apply text-heading-h2 text-center px-4 py-1;
  border-radius: 0.25rem;
}

.button.button-size--md {
  @apply text-heading-h3 text-center px-2 py-1;
  border-radius: 0.25rem;
}

/* type--text */
.button.button-type--text {
  color: #1373cc;
}
.button.button-type--text:hover {
  color: #4b98de;
}
.button.button-type--text:active {
  color: #0f63b0;
}

/* type--solid */
.button.button-type--solid {
  background: linear-gradient(123deg, #946342 -1.86%, #62251d 74.55%);
  color: #f1e3d5;
  text-shadow: 0 2px 2px #3b2826;
}
.button.button-type--solid:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(123deg, #946342 -1.86%, #62251d 74.55%);
}
.button.button-type--solid:active {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(123deg, #946342 -1.86%, #62251d 74.55%);
  box-shadow: 0 2px 8px 0px #3b2826;
}

/* type--hollow */
.button.button-type--hollow {
  background-color: transparent;
  border: 2px solid #62251d;
  color: #62251d;
}
.button.button-type--hollow:hover {
  background: rgba(98, 37, 29, 0.1);
}
.button.button-type--hollow:active {
  background: rgba(98, 37, 29, 0.2);
}
