.input_container {
  @apply relative;
  border-bottom: 1px solid currentColor;
  font-size: 1.25rem;
}

.input_container input {
  @apply text-primary-400 w-full border-none outline-none;
  background: transparent;
}
